::-webkit-scrollbar{
    width: 16px;
}

::-webkit-scrollbar-thumb{
    background-color: darkcyan;
}

::-webkit-scrollbar-track{
    background-color: cyan;
}

body{
    background-image: url(../img/background.jpg);
}

section#gallery{
    background-color: rgba(0, 50, 50, 0.4);
    display: flex;
    flex-direction: row;
    justify-items: center;
    gap: 30vw;
    width: 80vw;
    margin: 0 auto;
    overflow: auto;
    scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
    scrollbar-color: cyan darkcyan;
    padding: 0px 20px;
}

section#gallery figure{
    scroll-snap-align: center;
    width: 50vw;
}

section#gallery figure img{
    width: 50vw;
}

section#gallery figure figcaption{
    color: cyan;
}

section#gallery div.spacing{
    width: 50px;
}

@media (max-width: 600px) {
    section#gallery{
        width: 95vw;
    }
    section#gallery figure{
        width: 90vw;
    }
    section#gallery figure img{
        width: 90vw;
    }
}